<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="overwrite.AccountMapper">
    
    
    <select id="getAccounts" resultType="pojo.Account">
        select
            *
        from ACCOUNT
        where status = #{status}
        
        <!-- optional arguments -->
        <if test="owner > 0">
            and owner = #{owner}
        </if>
    </select>
</mapper>